@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>fail_admin</title>
</head>
<body>
    <div style="color:RED;font-weight:bold;font-size:40px;text-align:center;margin-top:50px">
       BẠN KHÔNG CÓ QUYỀN TRUY CẬP TRANG NÀY !!!
    </div>
</body>
</html>
