@{
    Layout = "~/Areas/admin/Views/Shared/_layout_admin.cshtml";
}
<ul>
    <li><h1><a href="@Url.Action("quanlysanpham","Back")">QUẢN LÝ SẢN PHẨM</a></h1></li>
    <li><h1><a href="@Url.Action("quanlydanhmuc","Back")">QUẢN LÝ DANH MỤC</a></h1></li>
</ul>
    
