<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div style="text-align: right;margin-right:20px;">

        @if (Session["Logedadname"] != null)
        {
            <p>Chào ADMIN <span style="color:#ff0000;font-weight:bold;">@Session["Logedadname"].ToString()</span></p>

        }

    </div>
    <div style="text-align: right;margin-right:20px;"><p><a href="~/Home/Index" target="_blank">Xem trang người dùng</a></p></div>
    <div style="text-align: right;margin-right:20px;"><p><a href="@Url.Action("Index","Back")">Trang Admin</a></p></div>
    <hr />
    <div style="float:left">
        @RenderBody()
    </div>
</body>
</html>
